<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.eyelog.cowdb">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/korova"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/korova"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListOfFarms" android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ListOfHerds" android:screenOrientation="locked"/>
        <activity android:name=".ListOfCows" android:screenOrientation="locked"/>
        <activity android:name=".ACowTableForm" android:screenOrientation="locked"/>
        <activity android:name=".NewCowForm" android:screenOrientation="locked"/>
        <activity android:name=".ProgressSchedule"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="ru.eyelog.cowdb.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>

    <uses-permission android:name="android.permission.INTERNET"
        tools:ignore="ManifestOrder"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18"/>

</manifest>